/*

You're gonna like the way this looks, I guarantee it.

*/


/* Typography & Base Styling */

* {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
html{
    height: 100%;
}
body {
    font-family: 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    background-image: linear-gradient(-45deg, #3023AE 0%, #C86DD7 100%);
    height: 100%;
    overflow: hidden;
    color: #444;
    margin: 0;
}

h1 {
    font-size: inherit;
    font-weight: normal;
}

#app{
    height: 100%;
    overflow-y: scroll;
}

#app > div {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    flex: 1 1 auto;
    background-image: linear-gradient(-45deg, #3023AE 0%, #C86DD7 100%);
    color: transparent;
    font-size: 125%;
    -webkit-background-clip: text;
    text-align: center;
}

h1 span {
    display: block;
    font-size: 75%;
    color: #C86DD7;
}

.messages {
    padding: 2rem 1rem;
    flex: 1;
}

.messages ul {
    margin: 0 auto;
    flex: 1 1 auto;
    max-width: 500px;
    font-size: 16px;
    padding: 1rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

li {
    background-color: #f2f2f2;
    padding: .5rem 1rem;
    border-radius: 18px;
    display: inline-block;
    align-self: flex-start;
    max-width: 300px;
    margin-bottom: 1rem;
}

li.human {
    align-self: flex-end;
    text-align: right;
}

li.bot {
    background-color: #E50A5B;
    color: white;
}

.text-box {
    background-color: rgba(244,244,244,.24);
    width: 100%;
    font-size: 16px;
    padding: 8px 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text-box form {
    max-width: 500px;
    padding: 0 2rem;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    display: block;
    font-size: 16px;
    padding: .5em .5em;
    border-radius: 0 0 2px 2px;
    border: none;
}
/*.text-box button {
    width: 80px;
    text-align: center;
    float: right;
    font-size: 16px;
    padding: .5em 0;
    border-radius: 2px 2px 0 0;
    border: none;
}*/
