/*

You're gonna like the way this looks, I guarantee it.

*/


/* Typography & Base Styling */

* {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
}

html {
    height: 100%;
}

body {
    font-family: 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
    background-image: linear-gradient(-45deg, #3023AE 0%, #C86DD7 100%);
    height: 100%;
    overflow: hidden;
    color: #444;
    margin: 0;
}

h1 {
    font-size: inherit;
    font-weight: normal;
}

#app {
    height: 100%;
    overflow-y: scroll;
}

#app > div {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    flex: 1 1 auto;
    background-image: linear-gradient(-45deg, #3023AE 0%, #C86DD7 100%);
    color: transparent;
    font-size: 125%;
    -webkit-background-clip: text;
    text-align: center;
}

h1 span {
    display: block;
    font-size: 75%;
    color: #C86DD7;
}

.messages {
    padding: 2rem 1rem;
    flex: 1;
}

.messages ul {
    margin: 0 auto;
    flex: 1 1 auto;
    max-width: 500px;
    padding: 1rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: #f2f2f2;
    padding: .5rem 1rem;
    border-radius: 18px;
    display: flex;
    align-self: flex-end;
    max-width: 300px;
    margin-bottom: .25rem;
    min-height: 44px;
}

li.human {
    align-self: flex-end;
    text-align: right;
    border-radius: 18px 0 18px 18px;
}

li.bot {
    align-self: flex-start;
    background-color: #E50A5B;
    color: white;
    border-radius: 0 18px 18px 18px;
}

.text-box {
    background-color: rgba(244, 244, 244, .4);
    width: 100%;
    padding: 8px 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.text-box form {
    max-width: 500px;
    padding: 0 2rem;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    display: block;
    padding: .5em .5em;
    border-radius: 0 0 2px 2px;
    border: none;
    color: white;
    background: none;
}

input[type="text"]:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .75);
}


/* Animation */

.messageIn-enter {
    transform: scale3d(0, 0, 0);
}

.messageIn-enter.messageIn-enter-active {
    animation-name: popIn;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.messageIn-leave {}

.messageIn-leave.messageIn-leave-active {}

@keyframes popIn {
    from {
        transform: scale3d(0, 0, 0);
    }
    60% {
        transform: scale3d(1.25, 1.25, 1.25);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes loadingDot {
    from {
        /*transform: scale3d(1, 1, 1);*/
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 15%;
    }
    20% {
        /*transform: scale3d(1.5, 1.5, 1.5);*/
        border-radius: 50%;
    }
    to {
        /*transform: scale3d(1, 1, 1);*/
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10%;
    }
}

.bot.loading > span,
.bot.loading > span::before,
.bot.loading > span::after {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 25%;
    animation-name: loadingDot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.bot.loading > span {
    position: relative;
    margin: 4px 22px 0;
    animation-delay: 250ms;
}

.bot.loading > span::before,
.bot.loading > span::after {
    content: '';
    position: absolute;
    top: -1px;
}

.bot.loading > span:before {
    left: -24px;
    animation-delay: 0ms;
}

.bot.loading > span:after {
    right: -24px;
    animation-delay: 750ms;
}
